.header {
  color: rgb(221, 5, 5);
}

.hero--odd {
  background-color: rgb(218, 174, 109);
  color: rgb(61, 39, 39);
}

.hero-id {
  color: blue;
}

.form-container {
  margin: 0.5rem 0;
}

#addNewHero {
  background-color: aquamarine;
}

.heroLineSeparation {
  border-bottom: 2px solid rgb(0, 0, 0);
}
